---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}
	class="page-home"
{% endblock %}
{% block content %}
<main id="main-content">
	<div class="container-fuild">
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4 col-sm-12">
				<div class="in-top">
					<p><b>eStruxture expands data center <br>
						space in Montreal</b><a href="">SEE THE NEW SPACE <i class="fas fa-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fuild">
		<div class="row">
			<div class="col-md-4 col-sm-9">
				<div class="in-map">
						<div class="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7819.940890886272!2d109.1991919950963!3d12.268954095029997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067ed3a052f11%3A0xd464ee0a6e53e8b7!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOaGEgVHJhbmc!5e0!3m2!1svi!2s!4v1526827214366" width="450" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="bg">
						</div>
				</div>
			</div>
			<div class="in-co col-md-2 col-sm-3 col-8 offset-1 offset3">
				<div class="accordion">
						<label class="accordion">Toronto</label>
						<div class="panel">
								<p>
									MTL 1 <br>
									MTL 2
								</p>
							</div>
						<label class="accordion">Ottawa</label>
						<div class="panel">
								<p>
									MTL 1 <br>
									MTL 2
								</p>
							</div>
						<label class="accordion">Montreal</label>
						<div class="panel">
							<p>
								MTL 1 <br>
								MTL 2
							</p>
						</div>
						<label class="accordion">Quebec</label>
						<div class="panel">
								<p>
									MTL 1 <br>
									MTL 2
								</p>
							</div>
				</div>
			</div>
			<div class="col-md-5 col-sm-10">
				<div class="in-right">
					<b>We’ll always have the capacity you need-how you need it</b>
					<p>Greater  Montreal Area  >25,00 sqft</p>
					<div class="row">
						<div class="col-md-6">
							<div class="in-rih1">
									<div class="row">
											<div class="col-md-1 col-sm-1 col-xs-1">
													<i class="fas fa-check-circle"></i>
											</div>
											<div class="col-md-10 col-sm-10 col-xs-10">
												<b>High-density computing</b>
												<p>up to 30iW per cabinet</p>
											</div>
										</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="in-rih1">
							<div class="row">
								<div class="col-md-1 col-sm-1">
										<i class="fas fa-check-circle"></i>
								</div>
								<div class="col-md-10 col-sm-10">
									<b>Easily accessible</b>
									<p>downtown montreal locations</p>
								</div>
							</div>
							</div>
						</div>
					</div>
				<div class="row">
						<div class="col-md-6">
							<div class="in-rih2">
									<div class="row">
											<div class="col-md-1 col-sm-1">
													<i class="fas fa-check-circle"></i>
											</div>
											<div class="col-md-10 col-sm-10">
												<b>Flexible Configurations</b>
												<p>get what you really want</p>
											</div>
										</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="in-rih2">
									<div class="row">
											<div class="col-md-1 col-sm-1">
													<i class="fas fa-check-circle"></i>
											</div>
											<div class="col-md-10 col-sm-10">
												<b>Green Grid Hydro Power</b>
												<p>5.5 MW total capacity</p>
											</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10 col-sm-12">
				<div class="in-bottom">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="in-celeft">
								<p>
									<b>Date Center Services you
										can Rely on</b><br><br>
										Lorem ipsum dolor sit amet, consectetur
										 adipiscing elit. Suspendisse venenatis
										  vel tellus eget malesuada. Donec tristique
										  dignissim varius. Quisque venenatis eu velit
										  a condimentum. Praesent tempus nibh quis diam
										  finibus, sit amet lacinia nunc consectetur. Maecenas
										  pretium semper enim non hendrerit.
										 Praesent sit amet dui urna.
										<div class="btn-group btn-group-toggle">
											<a href=""><button>View All Services</button></a>
										</div>
								</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="ind">
									<div class="row">
											<div class="col-md-6 col-sm-6 col-11  ">
													<div class="in-bt1">
												<i class="fas fa-compress"></i><br><br>
												<b>Colocation</b>
											</div>
										</div>
											<div class="col-md-6 col-sm-6 col-11 ">
													<div class="in-bt2">
												<i class="fab fa-cloudversify"></i><br><br>
												<b>Cloud</b>
											</div>
										</div>
									</div>
									<div class="row">
											<div class="col-md-6 col-sm-6 col-11 ">
													<div class="in-bt3">
												<i class="fas fa-wrench"></i><br><br>
												<b>Managed</b>
											</div>
										</div>
											<div class="col-md-6 col-sm-6 col-11 ">
													<div class="in-bt4">
												<i class="fas fa-desktop"></i><br><br>
												<b>Network</b>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<div class="inbt">
					<div class="row">
						<div class="col-md-4 col-sm-12">
							<div class="img">
								<img src="images/b.jpg" alt="">
							</div>
						</div>
						<div class="col-md-6 col-sm-10">
							<div class="text">
								<p>
									<b>Rock solid and on a roll</b><br> <br>
									eStruxture provides network and cloud-neutral data center solutions designs with the capacity, performance and flexibility to run modern, demanding enterprise applications, and the control to rapidly scale in response to unpredictable changes in business processes. <br><br>

Our 2017 data center expansion project, planned for operations 1Q2018, will double the size and power capacity of the facility.
								</p>
								<div class="btn-group btn-group-toggle">
										<a href=""><button>View All Services</button></a>
									</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fuild">
		<div class="row">
			<div class="col-md-10 offset-2">
				<div class="greenindex">
					<b>News Articles</b>
					<div class="row">
						<div class="col-md-3">
							<div class="grta">
								<b>eStruxture to Expand Montreal
										Data Center.</b>
										<p>August 15, 2017</p>
										<a href="">READ MORE<i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-md-3">
							<div class="grta">
								<b>Strahan McCarten joins Management team as Senior Vice ...</b>
								<p>July 19, 2017</p>
								<a href="">READ MORE<i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-md-3">
							<div class="grta">
								<b>eStruxture launches new Canada-wide data platform.</b>
								<p>June 24, 2017</p>
								<a href="">READ MORE<i class="fas fa-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-md-2">
								<div class="ah">
										<a href="">VIEW ALL<i class="fas fa-arrow-right"></i></a>
								</div>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
			var acc = document.getElementsByClassName("accordion");
			var i;
			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight){
				  panel.style.maxHeight = null;
				} else {
				  panel.style.maxHeight = panel.scrollHeight + "px";
				}
			  });
			}
			</script>
</main>
{# {% include "modules/component/loading.html" %} #}
{% endblock %}
