{% extends 'layouts/application.html' %}{% block bodyClass %}class="internal"{% endblock %}{% block content %}
{% set blog = require('blog') %}

<main id="main-content">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="left-t">
                <p>
                    <b>We’ll always have the capacity you need-how you need it</b><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci.
                    <div class="btn-group btn-group-toggle">
                            <a href=""><button id="bt1">View MTL 2 Specs</button></a>
                            <a href=""><button id="bt2">View MTL 2 Specs</button></a>
                    </div>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-t">
                <ul>
                    <li><a href=""><b>Cloud Overview</b></a></li>
                    <li><a href=""><b>Private Cloud</b></a></li>
                    <li><a href=""><b>Dedicated cloud</b></a></li>
                    <li><a href=""><b>Bare Metal</b></a></li>
                </ul>
            </div>            
        </div>
    </div>
</div>
<div class="container-fuild">
        <div class="center" style="background: #f5f6f6;">
                <div class="row" id>
                    <div class="col-md-2"></div>
                        <div class="col-md-5 col-sm-12">
                            <div class="left-c">
                                <div class="row">
                                    <div class="col-md-8 col-sm-9 col-11">
                                        <div class="left-cl">
                                                <p>
                                                    <h4><b>Call Out Area</b></h4><br>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. Donec tristique dignissim varius.
                                                </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-9 col-11">
                                        <div class="left-cr">
                                            <div class="btn-group btn-group-toggle">
                                                <a href=""><button id="bt2">View All Services</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-f">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5 col-5 ">
                                            <div class="bf1">
                                                <i class="fab fa-accusoft"></i><br>
                                                <p>
                                                    <b>Benefit Name</b><br><br>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. 
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 offset2 col-5 ">
                                            <div class="bf2">
                                                <i class="fab fa-app-store-ios"></i><br>
                                                    <p>
                                                        <b>Benefit Name</b><br><br>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. 
                                                    </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-5 ">
                                            <div class="bf3">
                                                <i class="fab fa-accessible-icon"></i><br>
                                                <p>
                                                    <b>Benefit Name</b><br><br>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. 
                                                    </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 offset2 col-5 ">
                                                <div class="bs1">
                                                        <i class="fab fa-accusoft"></i><br>
                                                        <p>
                                                            <b>Benefit Name</b><br><br>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vell tellus eget malesuada. 
                                                        </p>
                                                </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-5 ">
                                                <div class="bs2">
                                                        <i class="fab fa-app-store-ios"></i><br>
                                                        <p>
                                                            <b>Benefit Name</b><br><br>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. 
                                                        </p>
                                                </div>
                                        </div>
                                        <div class="col-md-4 col-sm-5 offset2 col-5 ">
                                                <div class="bs3">
                                                        <i class="fab fa-accessible-icon"></i><br>
                                                        <p>
                                                            <b>Benefit Name</b><br><br>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. 
                                                        </p>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    <div class="col-md-5 col-sm-10 offset2">
                        <div class="right-c">
                            <img src="images/dibo.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="container">
        <div class="text">
    <div class="row">
        <div class="in-te col-md-12 col-sm-12">
                    <p>
                        <h4><b>Area for Logos or Certifications</b></h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida <br> commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum <br> diam sed viverra tristique. Sed non mattis nisi. 
                    </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-6">
                <i class="fab fa-aviato"></i>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
                <i class="fab fa-angrycreative"></i>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
                <i class="fab fa-aws"></i>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
                <i class="fab fa-apper"></i>
        </div>
    </div>
        </div>
</div>
<div class="table">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="tb">
                        <h5><b>Full width section text Lorem ipsum dolor sit amet consectetur adipiscing elit. </b></h5>
                        <p>
                            SUB-HEADLINE <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci <br><br>
        
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci.. <br><br>
        
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci.
                        </p>
                        <h5><b>We’ll always have the capacity you need-how you need it</b></h5>
                        <p>SUB-HEADLINE</p>
                        <div class="row">
                                <div class="col-md-6">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci <br><br>
                    
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci.. <br><br>
                                                
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci.</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci. <br><br>
                    
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet dolor non sem gravida commodo. In massa quam, interdum non neque ac, scelerisque tempor urna. Etiam fermentum diam sed viverra tristique. Sed non mattis nisi. Curabitur malesuada facilisis nulla ut volutpat. Duis bibendum sodales est, vel aliquam augue volutpat eu. Cras vestibulum rutrum orci.</p>
                                            <div class="btn-group btn-group-toggle">
                                                    <a href=""><button id="bt2">View All Services</button></a>
                                                </div>
                                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
</main>
{% block green %}
        {% include "modules/green.html" %}
        {% endblock %}
{% endblock %}
