{% extends 'layouts/application.html' %}{% block bodyClass %}class="services"{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="le-top">
                    <ul>
                        <li><a href="">COMPANY PROFILE</a></li>
                        <li><a href="">LEADERSHIP</a></li>
                        <li><a href="">NEWS</a></li>
                        <li><a href="">TECHNOLOGY PARNERS</a></li>
                        <li><a href="">CAREERS</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-6">
                <div class="le-img">
                    <img src="images/dibo.jpg" alt="">
                </div>
            </div>
            <div class="le-content col-md-6">
                <div class="le-ct">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-6 border-right border-bottom">
                            <div class="h1">
                                <img src="images/570x570_1.jpg" alt="">
                                <h6><b>Todd Coleman</b></h6>
                                <p>President and CEO</p>
                                <a href="">VIEW BIO<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6 border-bottom border-right border-left">
                            <div class="h1">
                                <img src="images/570x570_2.jpg" alt="">
                                <h6><b>Marc Belanger</b></h6>
                                <p>Cheif Financial Officer</p>
                                <a href="">VIEW BIO<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6 border-bottom border-left">
                            <div class="h1">
                                <img src="images/570x570_3.jpg" alt="">
                                <h6><b>John Savageu</b></h6>
                                <p>Vice President, Operations
                                        and Engieneering</p>
                                        <a href="">VIEW BIO<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6 border-right border-top">
                            <div class="h1">
                                <img src="images/570x570_3.jpg" alt="">
                                <h6><b>Billy Krassakopoulos</b></h6>
                                <p>Vice President,
                                        Montreal Market </p>
                                        <a href="">VIEW BIO<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6 border-top border-left border-right">
                            <div class="h1">
                                <img src="images/570x570_1.jpg" alt="">
                                <h6><b>Strahan McCarten</b></h6>
                                <p>Senior Vice President,
                                        Product & Strategy</p>
                                        <a href="">VIEW BIO<i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 border-top border-left">
                            <div class="h2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
