{% extends 'layouts/application.html' %}{% block bodyClass %}class="services"{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="le-top">
                    <ul>
                        <li><a href="">COMPANY PROFILE</a></li>
                        <li><a href="">LEADERSHIP</a></li>
                        <li><a href="">NEWS</a></li>
                        <li><a href="">TECHNOLOGY PARNERS</a></li>
                        <li><a href="">CAREERS</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-6 col-sm-5">
                <div class="le-img">
                    <img src="images/dibo.jpg" alt="">
                </div>
            </div>
            <div class="le-content col-md-6 col-sm-7">
                <div class="le-ct">
                    <div class="row">
                        {% for i in test %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 border">
                                <div class="h1">
                                    <img src="{{ i.img }}" alt="">
                                    <h6><b>{{ i.name }}</b></h6>
                                    <p>{{ i.job }}</p>
                                    <a href="">{{ i.link }}<i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-4 col-sm-6 col-6 border">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</main>
{% endblock %}
