{% extends 'layouts/application.html' %}{% block bodyClass %}class="services"{% endblock %}
{% block content %}
<main id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="se-top">
                        <h5><b>Date Center Services you can Rely on</b></h5><br>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. <br> Donec tristique dignissim varius. Quisque venenatis eu velit a condimentum. Praesent tempus nibh quis <br> diam finibus, sit amet lacinia nunc consectetur. Maecenas pretium semper enim non hendrerit. 
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="se-content">
                    <div class="row">
                        <div class="se-3 col-md-3 col-sm-6 border-right">
                                <i class="fas fa-compress"></i><br><br>
                                <h6><b>Colocation</b></h6><br>
                                <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. Donec tristique dignissim varius. Maecenas pretium semper enim non.
                                </p>
                                <a href="">Wholesale Colocation</a>
                        </div>
                        <div class="se-3 col-md-3 col-sm-6 border-right border-left">
                                <i class="fab fa-cloudversify"></i><br><br>
                                <h6><b>Cloud</b></h6><br>
                                <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. Donec tristique dignissim varius. Maecenas pretium semper enim non.
                                </p>
                                <a href="">Managed Hosting</a><br>
                                <a href="">Managed Services</a><br>
                                <a href="">Managed Security</a>
                        </div>
                        <div class="se-3 col-md-3 col-sm-6 border-left border-right">
                                <i class="fas fa-wrench"></i><br><br>
                                <h6><b>Managed</b></h6><br>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. Donec tristique dignissim varius. Maecenas pretium semper enim non.</p>
                                <a href="">Remote Links</a><br>
                                <a href="">Cross Connects</a><br>
                                <a href="">Cloud Connect</a>
                        </div>
                        <div class="se-3 col-md-3 col-sm-6 border-left">
                                <i class="fas fa-desktop"></i><br><br>
                                <h6><b>Network</b></h6><br>
                                <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis vel tellus eget malesuada. Donec tristique dignissim varius. Maecenas pretium semper enim non.
                                </p>
                                <a href="">Private Cloud</a><br>
                                <a href="">Dedicated Cloud</a><br>
                                <a href="">Bare Metal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</main>
{% block green %}
        {% include "modules/green.html" %}
        {% endblock %}
{% endblock %}