--- title: Our People body: --- {% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock
%}{% block content %}
<main id="main-content">
  <!--/////////////////////////////////////-->

    <div class="container">
        <div class="row">
            {% for n in test %}
          <div class="col-md-4">
            <h2>{{ n.name }}</h2>
            <p>{{ n.age }}</p>
            <a href="">{{ n.job }}</a>
          </div>
          {% endfor %}
        </div>
      </div>

   <!--/////////////////////////////////////-->
</main>
<div>
  {% include "modules/counter.html" %}
</div>
{% include "modules/component/loading.html" %} {% endblock %}
