#main-content{
    .in-top{
        margin-top: -100px;
        margin-bottom: 101px;
        width: 460px;
        height: 100px;
        background: #73c2eb;
        z-index: 5;
        position: absolute;
        p{
            padding: 15px 15px 15px 15px;
            font-size: 24px;
            a{
                font-size: 16px;
            }
        }
    }
    .in-map{
        margin-top: -51px;
        margin-bottom: 50px;
        .map{
            position: absolute;
            z-index: 0;
        }
        .bg{
            position: relative;
            z-index: 1;
            width: 450px;
            height: 300px;
            background: $color-tmh;
            opacity: 0.8;
        }
    }


    .accordion{
        .accordion {
            background-color: #f5f6f6;
            color: #444;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            &:after{
                content: "\2212";
            color: #777;
            float: right;
            margin-left: 5px;
            float: left;
            padding-right: 10px;
            }
            &:hover{
                background: #8f97a3;
            }
        } 
        .active:after {
            content: '\002B';
        }
        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            // transition: max-height 0.2s ease-out;
        }
    }


    .in-right{
        // margin-top: 50px;
        // margin-left: 30px;
        b{
            font-size: 24px;
        }
        p{
            font-size: 15px;
            color: $color-tm-tm-tm;
        }
        .in-rih1{
            i{
                color: $color-tmh;
            }
            b{
                font-size: 15.5px;
            }
            p{
                font-size: 15px;
                color: $color-tm-tm-tm;
            }
        }
        .in-rih2{
            i{
                color: $color-tmh;
            }
            b{
                font-size: 15.5px;
            }
            p{
                font-size: 15px;
                color: $color-tm-tm-tm;
            }
        }
    }
    .in-bottom{
        background: #0e2f43;
        color: #ffffff;
        .ind{
            padding: 0px 15px;
        }
        .in-celeft{
            margin-top: 30px;
            margin-left: 30px;
            p{
                color: $color-tm-tm-tm;
                font-size: 15px;
                b{
                    font-size: 24px;
                }
            }button{
                color: #ffffff;
                background: #d35050;
                border: #d35050;
            }
        }
        .ind{
            .in-bt1{
                border-bottom: 1px solid #abb5c4;
                border-right: 1px solid #abb5c4;
                text-align: center;
                margin-left: -15px;
                width: 222px;
                height: 200px;
                padding: 50px;
                i{
                    font-size: 50px;
                    color: #aad038;
                }
                b{
                    font-size: 15.5px;
                }
                &:hover{
                    background: #73c2eb;
                }
            }
            .in-bt2{
                border-bottom: 1px solid #abb5c4;
                border-left: 1px solid #abb5c4;
                margin-left: -15px;
                text-align: center;
                width: 222px;
                height: 200px;
                padding: 50px;
                i{
                    font-size: 50px;
                    color: #aad038;
                }b{
                    font-size: 15.5px;
                }&:hover{
                    background: #73c2eb;
                }
            }
            .in-bt3{
                border-top: 1px solid #abb5c4;
                border-right: 1px solid #abb5c4;
                margin-left: -15px;
                text-align: center;
                width: 222px;
                height: 200px;
                padding: 50px;
                i{
                    font-size: 50px;
                    color: #aad038;
                }b{
                    font-size: 15.5px;
                }&:hover{
                    background: #73c2eb;
                }
            }
            .in-bt4{
                border-top: 1px solid #abb5c4;
                border-left: 1px solid #abb5c4;
                margin-left: -15px;
                text-align: center;
                width: 222px;
                height: 200px;
                padding: 50px;
                i{
                    font-size: 50px;
                    color: #aad038;
                }b{
                    font-size: 15.5px;
                }&:hover{
                    background: #73c2eb;
                }
            }
        }
        }
    .inbt{
        margin-top: 50px;
        .text{
            margin-top: 30px;
            text-align: left;
            p{
                font-size: 15px;
                color: #8f97a3;
                b{
                    font-size: 24px;
                    color: black;
                }
            }
            button{
                border: 2px solid #d35050;
                color: #d35050;
                background: none;
            }
        }
    }
    .greenindex{
        padding: 20px 40px;
        background: #aad038;
        margin-top: 80px;
        margin-bottom: -80px;
        b{
            color: #8f97a3;
            border-bottom: 2px solid #8f97a3;
        }
        .grta{
            margin-top: 20px;
            background: #ffffff;
            padding: 30px 36px;
            height: 200px;
            b{
                color: black;
                border: 0px;
            }
            p{
                font-size: 16px;
                color: #8f97a3;
            }
            a{
                color: red;
            }
        }
        .ah{
            margin-top: 150px;
            a{
                color: #8f97a3;
            }
        }
    }
}
@media (max-width:1024px){
    .ind{
        margin-left: -70px;
    }
}
@media (max-width: 768px){
    .in-top{
        margin-left: -10px;
    }
    .in-map{
        .map{

        }
        .bg{
            margin-top: 50px;
        }
    }
    .in-right{
        margin-left: 100px;
    }
    .ind{
        margin: 33px;
        .in-bt1{
            // margin-left: -20px;
        }
    }
    .inbt{
        .img{
            transform: translate(25%);
        }
    }
    .bottom-f{
        margin-left: 20px;
    }
}
@media (max-width: 576px){
    .top-right{
        margin-left: -90px;
    }
    .ind{
        transform: translate(10%);
        .in-bt1{
            border: 1px solid #abb5c4;
        }
        .in-bt2{
            border: 1px solid #abb5c4; 
        }
        .in-bt3{
            border: 1px solid #abb5c4; 
        }
        .in-bt4{
            border: 1px solid #abb5c4;
        }
    }
    .in-right{
        text-align: center;
        margin-left: 20px;
    }
    .in-co{
        margin-top: -50px;
    }
}