#main-content{
    background: $bg-color;
    .left-t{
        background: $bg-color;
        p{
            font-size: 15px;
            b{
                font-size: 24px;
            }
        }
        button{
            border: 2px solid red;
            color: red;
            background: $bg-color;
            margin-bottom: 50px;
        }
        #bt2{
            margin-left: 5px;
        }
    }
    .right-t{
        font-size: 17px;
        background: #b2ce54;
        width: 230px;
        height: 230px;
        margin-left: 150px;
        margin-top: -50px;
        margin-bottom: 50px;
        text-align: left;
        ul{
            list-style-type: none;
            padding-top: 10px;
            li{
                margin-top: 20px;
                a{
                    color: #ffffff;
                }
            }
        }
    }
    .left-c{
        position: relative;
        z-index: 1;
        background: #ffffff;
        padding: 15px 20px 15px 20px;
        margin-right: -200px;
        .left-cl{
            margin-left: 50px;
            margin-top: 50px;
            p{
                font-size: 15px;
                h4{
                    font-size: 24px;
                }
            }
        }
        .left-cr{
            margin-top: 90px;
            margin-left: 40px;
            button{
                border: 2px solid red;
                color: red;
                background: #ffffff;
            }
        }
    }
    .bottom-f{
        margin-top: 30px;
        text-align: center;
        i{
            font-size: 50px;
            color: #b2ce54;
        }
        .col-md-4{
            font-size: 15px;
            b{
                font-size: 15.5px;
            }
        }
        .bf1{
            padding: 10px;
            margin: 0px -15px;
            border-bottom: 1px solid #a9b6c6;
            border-right: 1px solid #a9b6c6;
        }
        .bf2{
            padding: 10px;
            margin: 0px -15px;
            border-bottom: 1px solid #a9b6c6;
            border-right: 1px solid #a9b6c6;
            border-left: 1px solid #a9b6c6;
        }
        .bf3{
            padding: 10px;
            margin: 0px -15px;
            border-bottom: 1px solid #a9b6c6;
            border-left: 1px solid #a9b6c6;
        }
        .bs1{
            padding: 10px;
            margin: 0px -16px;
            border-top: 1px solid #a9b6c6;
            border-right: 1px solid #a9b6c6;
        }
        .bs2{
            padding: 10px;
            margin: 0px -16px;
            border-top: 1px solid #a9b6c6;
            border-right: 1px solid #a9b6c6;
            border-left: 1px solid #a9b6c6;
        }
        .bs3{
            padding: 10px;
            margin: 0px -16px;
            border-top: 1px solid #a9b6c6;
            border-left: 1px solid #a9b6c6;
        }
    }
    .right-c{
        margin-top: -100px;
        margin-bottom: 100px;
        position: absolute;
        z-index: 0;
        width: 900px;
        img{
            height: 430px;
        }
    }
    .text{
        margin-top: 50px;
        text-align: center;
        p{
            font-size: 15px;
            h4{
                font-size: 25px;
            }
        }
        i{
            font-size: 70px;
        }
    }
    .table{
        background: $bg-color;
        .tb{
            margin-top: 30px;
            background: #ffffff;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            margin-bottom: 50px;
            padding-bottom: 30px;
        }
        h5{
            font-size: 15.5px;
        }
        p{
            font-size: 15px;

        }
        button{
            border: 2px solid red;
            color: red;
            background: #ffffff;
        }
    }
}
@media (min-width:1024px){
    .left-c{
        transform: translate(-20%,-15%);
    }
    .right-c{
        transform: translate(-15%,-30%);
    }
}
@media (max-width:1024px){
    .left-c{
        transform: translate(-20%,-15%);
    }
    .right-c{
        transform: translate(-15%,-30%);
    }
}
@media (max-width:768px){
    .left-c{
        transform: translate(-20%,-5%);
    }
    .right-c{
        transform: translate(-15%,-10%);
    }
    .text{
        transform: translate(0%,-20%);
    }
}
@media (max-width:414px){
    .left-t{
        text-align: center;
    }
    .right-t{
        visibility: hidden;
    }
    .left-c{
        margin-top: -250px;
        margin-left: 100px;
        .left-cl{
            transform: translate(-15%);
            text-align: center;
        }
        .left-cr{
            transform: translate(-15%,-300%);
            text-align: center;
        }
        .bottom-f{
            margin-left: -3px;
            margin-bottom: 30px;
            .bf1{
                border: 1px solid #a9b6c6;
            }
            .bf2{
                border: 1px solid #a9b6c6;
            }
            .bf3{
                border: 1px solid #a9b6c6;
            }
            .bs1{
                border: 1px solid #a9b6c6;
            }
            .bs2{
                border: 1px solid #a9b6c6;
            }
            .bs3{
                border: 1px solid #a9b6c6;
            }
        }
    }
    .in-te{
        margin-top: 500px;
    }
    .table{
        margin-top: -150px;
    }
    .right-c{
        transform: translate(0%,10%);
    }
}
@media (max-width:375px){
    .left-c{
        margin-left: 95px;
    }
    .bottom-f{
        transform: translate(-3%);
    }
    .right-c{
        transform: translate(0%,10%);
    }
}